html {
  background-color: #232020;
  font-family: 'Amatic SC';
}

h1 {
  color: #f4f4f4;
  padding: 2.5%;
}

.box {
  max-width: 40%;
  margin: 3% auto;
  background: #f4f4f4;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
}

#heading {
  background-color: #ff7315;
  text-align: center;
}

.item {
  min-height: 65px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f4f4f4;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #ff7315;
}

input[type="checkbox"] {
  margin: 5%;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 23px;
  font-weight: 200;
  color: #232020;
}

form.item {
  text-align: center;
  margin-left: 15%;
}

button {

  width: 35px;
  border-radius: 100%;
  border-color: transparent;
  background-color: #ff7315;
  color: #fff;
  font-size: 23px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 23px;
  font-weight: 200;
  font-family: 'Amatic SC';
  width: 80%;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #ff7315;
}

::placeholder {
  color: grey;
  opacity: 1;
  font-family: 'Amatic SC';
}
